<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultrag.net.nz/thymeleaf/layout"
	layout:decorate="layout/base_layout"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
	
<div th:fragment="side">
	<ul class="list-group">
	  <li class="list-group-item" th:classappend="${menu} eq '1' ? 'active' : ''" aria-current="true"> <!-- th:classappend -> 어떤 클래스에 조건이 맞으면 액티브를 추가하겠따 if문 비슷 -->
	  	<!-- <a th:href="@{/admin/regItem(menu=1)}">상품등록</a> -->
	  	 상품등록
	  </li>
	  <li class="list-group-item" th:classappend="${menu} eq '2' ? 'active' : ''">
<!-- 	  	<a th:href="@{/admin/itemManage(menu=2)}">상품관리</a> -->
	  	상품관리
	  </li>
	  <li class="list-group-item" th:classappend="${menu} eq '3' ? 'active' : ''">
<!-- 	  	<a th:href="@{/admin/memberManage(menu=3)}">회원권한설정</a> -->
	  	회원권한설정
	  </li>
	  <li class="list-group-item" th:classappend="${menu} eq '4' ? 'active' : ''">메뉴관리</li>
	</ul>
</div>

</html>

